body {
    background-color: #F5F5F5;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;

}

button, .button{
    background-color: #D9E8FB;
    border: 1px solid #9DAABF;
    border-radius: 2px;
    padding: 10px 22px;
    font-weight: 700;
    min-width: 140px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;

}

.buttonRed {
    background-color: #F7CECC;
    border-color: #BA9899;
}